/** Import outfit and yound-serif **/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

/** root variables **/
:root {

    /** Border bottom **/
    --bb: 1px solid var(--stone-150);

    /** Colors **/
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);

    /** Font-size **/

    --fs: 16px;

    /** font-family **/

    --ff-young:  "Young Serif", serif;
    --ff-outfit: "Outfit", serif;


    /** Flex settings **/

    --flexy: flex;
    --space-btw: space-between;
    --space-arnd: space-around;

    /* round borders */

    --bold-round: 25px;
    --lite-round: 10px;
}


/** universal css **/

.attribution { 
    font-size: 11px; 
    text-align: center; 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 

}

body {
    font-family: var(--ff-outfit);
    font-size: var(--fs);
    font-weight: 200;
    height: fit-content;
}

.border-bottom {
    border-bottom: 1px solid var(--stone-150);
    width: 100%;
}


@media screen and (max-width: 375px) {

    body {
        background-color: #222;
        display: grid;
        grid-template-columns: 100%;
        place-content: center;
        place-items: center;
        position: relative;
        font-size: 0.3rem;
    }

    h3, h4, li::marker {
        color: var(--rose-800);
    }
    
    h4 {
        font-size: 0.5rem;
        font-weight: bold;
    }

    h3 {
        font-size: 0.6rem;
        font-family: var(--ff-young);
        font-weight: normal;
    }

    li::marker {
        font-size: calc(var(--fs) / 3.5);
    }

    .bold {
        font-weight: bolder;
    }

    .main-container,.header-content-container, .prep-container, .ingredients-container, .instru-container, .nutri-container {
        margin: 0 auto;
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .main-container {
        display: var(--flexy);
        flex-direction: column;
        gap: 0.75rem;
        min-height: 100vh;
        width: 40vw;
        background-color: var(--white);
    }

    .header-content-container {
       margin-top: 2vh;
    }

    h1 {
        font-size: 0.9rem;
        line-height: 0.9rem;
        font-family: var(--ff-young);
        font-weight: 550;
    }

    span {
        white-space: nowrap;
    }


    .prep-container {
        background-color: var(--rose-50);
        border-radius: 5px;
        padding: 0.5rem;
        gap: 0.2rem;
    }

    .prep-container ul {
        padding: 0;
        padding-left: 0.75rem;
        width: 65%;
    }

    .prep-container ul li {
        padding-left: 0.5rem;
        padding: 0.1rem;
        white-space: wrap;
    }

    .ingredients-container {
        gap: 0.25rem;
        border-bottom: 1px solid var(--stone-150);
        padding-bottom: 0.5rem;
    }

    .ingredients-container ul {
        padding: 0;
        padding-left: 0.7rem;
    }

    .ingredients-container ul li {
        padding-bottom: 0.25rem;
    }



    .instru-container {
        gap: 0.25rem;
        border-bottom: 1px solid var(--stone-150);
        padding-bottom: 0.5rem;
    }

    .instru-container ol {
        padding: 0;
        padding-left: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 0.15rem;
    }

    .instru-container ol li {
        padding-bottom: 0.1rem;
        padding-left: 0.2rem;
    }

    ol li::marker {
        font-size: calc(var(--fs) / 3);
        font-weight: 600;
    }

    .nutri-container {
        
    }

    .table-wrapper {
        display: var(--flexy);
        flex-direction: column;
        gap: 0.25rem;
    }

    .border-bottom {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 0.25rem;
    }

    span.bolder {
        color: var(--rose-800);
        font-weight: bold;
    }

    span.bolder:last-child {
        border-bottom: none;
    }
    
}


