/** Import outfit and yound-serif **/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

/** root variables **/
:root {

    /** Border bottom **/
    --bb: 1px solid var(--stone-150);

    /** Colors **/
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);

    /** Font-size **/

    --fs: 16px;

    /** font-family **/

    --ff-young:  "Young Serif", serif;
    --ff-outfit: "Outfit", serif;


    /** Flex settings **/

    --flexy: flex;
    --space-btw: space-between;
    --space-arnd: space-around;

    /* round borders */

    --bold-round: 25px;
    --lite-round: 10px;
}


/** universal css **/

.attribution { 
    font-size: 11px; 
    text-align: center; 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 

}

body {
    font-family: var(--ff-outfit);
    font-size: var(--fs);
    font-weight: 300;
    height: fit-content;
}


@media screen and (max-width: 375px) {

    body {
        background-color: #222;
        display: grid;
        grid-template-columns: 100%;
        place-content: center;
        place-items: center;
        position: relative;
        font-size: calc(var(--fs) / 2);
        fo
    }

    .main-container {
        display: var(--flexy);
        flex-direction: column;
        gap: 1.5rem;
        min-height: 100vh;
        width: 40vw;
        background-color: var(--white);
    }

    .main-header-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .figure-container {
        width: 100%;
        height: fit-content;
    }

    .header-content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        gap: 0.5rem;
    }

    .header-content-container h1 {
        font-size: 1rem;
        font-family: var(--ff-young);
        font-weight: 575;
        line-height: 1rem;
    }

    .h1 {
        white-space: nowrap;
    }


    .prep-container {
        background-color: var(--rose-50);
        border-radius: 5px;
        padding: 0.5rem;
        width: 90%;
        margin: -2vh auto;
        display: flex;
        flex-direction: column;
    }

    .prep-container h4 {
        color: var(--rose-800);
    }

    .prep-container ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0.5rem;
        height: 10vh;
    }

    .prep-container ul li::marker {
        font-size: calc((var(--fs)) / 3);
        color: var(--rose-800);
    }

    .prep-container ul li {
        padding-left: 0.5rem;
        padding-bottom: 0.25rem;
    }

    .bold {
        font-weight: bold;
    }
  
}


